@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,100&display=swap');

:root{
    --button-color: #330133;
    --button-color-hover: #7e027e;
    --lable-color: #505f75;
    --error-color: red;
    --purple-color: #330133;
    --purple-color-2: #460346;
    --link-color-houver: rgba(99, 10, 99, 0.76);
    --link-houver-2: #33013391;
    --fundo-color: #e0dada;
    --font-color: #f0f0f0;
    --font-color-titlle: #19191a;
    --font-color-2: #414e61;
    --advice-color: rgb(241, 241, 174);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    
}


html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    
}

/* .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  } */
  
.contents-pages{
  padding: 15px;
}

header {
  padding: 15px;
}

.titlle-pages {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0px;
  color: var(--font-color-titlle);
} 