@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,100&display=swap');

:root{
    --button-color: #42b983;
    --button-color-hover: #4CAF50;
    --lable-color: #505f75;
    --error-color: red;
}

*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/* .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  } */
  


  