@import '@/assets/css-global/global.css';

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  background: red;
}

.sidebar {
  width: 220px;
  height: 100vh;
  color: var(--font-color);
  background: var(--purple-color);
}

.content-right {
  width: calc(100% - 220px);
  height: 100vh;
  background: var(--fundo-color);

  .navbar{
    width: 100%;
    height: 60px;
    background: var(--purple-color-2);
    color: var(--font-color);
  }

  .content{
    width: 100%;
    height: calc(100vh - 70px); /*ou deixar em auto */
    
  }
}