@import '@/assets/css-global/global.css';


.form-page {
  width: 100%;
  height: auto;
  margin-right: 15px;
  padding: 15px;
  border-collapse: collapse;
  border-radius: 5px;
  background: #fff;
}

.user-field {
  padding: 12px;
  text-align: left;
  
}

label {
  display: block;
  font-weight: 600;
  color: var(--font-color-2);
}

input {
  width: 97%;
  padding: 15px 20px;
  margin-right: 15px;
  border-radius: 10px;
  color: var(--font-color-2);
  background-color: var(--fundo-color);
  font-weight: 600;
}

.title-form {
  padding: 10px;
  text-align: center;
  background-color: var(--purple-color-2);
  color: var(--font-color);
  border-radius: 10px;
}

input:hover {
  background-color: #f1f1f1;
}

.botao {
  width: 100%;
  background-color: #4CAF50;
  color: var(--font-color);
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px;
  cursor: pointer;
  border-radius: 5px;
}

.botao:hover {
  background-color: #3b8a3f;
  /* Verde mais escuro */
}

.message {
  margin-left: 15px;
  width: 94%;
  padding: 15px;
  text-align: center;
  background-color: var(--advice-color);
}

